<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SqlUnitTesting" type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=16.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <SqlUnitTesting>
    <DataGeneration ClearDatabase="true" />
    <ExecutionContext Provider="System.Data.SqlClient" ConnectionString="Data Source=TEDDDY\SQLEXPRESS;Initial Catalog=WinnersLTD;Integrated Security=True;Pooling=False"
      CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient" ConnectionString="Data Source=TEDDDY\SQLEXPRESS;Initial Catalog=WinnersLTD;Integrated Security=True;Pooling=False"
      CommandTimeout="30" />
  </SqlUnitTesting>
  <connectionStrings>
    <add name="Assignment.Properties.Settings.WinnersLTDConnectionString"
      connectionString="Data Source=TEDDDY\SQLEXPRESS;Initial Catalog=WinnersLTD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Assignment.Properties.Settings.SupermarketConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Supermarket.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="Assignment.Properties.Settings.WinnersLTDConnectionString1"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=WinnersLTD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>